@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-blue-primary: #1f3763;
  --bg-white: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1240px;
  padding-inline: 1rem;
  margin-inline: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 95%;
}

header {
  background-color: var(--bg-blue-primary);
  height: 100vh;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

header .logo {
  font-weight: bold;
  font-size: 1.1rem;
}

header .container nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  position: relative; /* Fixed the typo 'relatie' to 'relative' */
}

nav ul li a {
  display: block;
}

nav ul li ul.dropdown li {
  display: block;
}

/* Dropdown styles */
nav ul li ul.dropdown {
  width: 150px; /* Set a specific width for the dropdown */
  background-color: #fff;
  position: absolute;
  z-index: 999;
  color: #000;
  display: none;
  border-radius: 5px; /* Optional: Adds rounded corners to the dropdown */
  top: 100%; /* Makes sure the dropdown aligns with the parent li */
}

nav ul.dropdown li a:hover {
  transition: all 0.3s;
  color: #fff !important;
  background-color: #112c66;
}

nav ul li:hover ul.dropdown {
  display: block;
}

nav ul li ul.dropdown li a {
  font-size: 14px;
  color: #000;
  padding: 15px 20px; /* Adjust padding for a better dropdown design */
}

header .switch-language-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero {
  height: 90vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: #fff;
  font-size: 3.5rem;
}

.hero a {
  display: inline-block;
  margin-top: 1rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 1.2rem 2.5rem;
  text-decoration: none;
}
