.struktur-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 750px;
  margin-inline: auto;
  position: absolute;
  bottom: -100px;
  left: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  right: 0;
}

.struktur-wrapper img {
  width: 100%;
}
